<% content_for :content do %>
  <section>
    <div class="container">
        <p>
        <strong>Name:</strong>
        <%= @feature.name %>
      </p>
        <p>
        <strong>Project:</strong>
        <%= @feature.project %>
      </p>
        <p>
        <strong>Min days:</strong>
        <%= @feature.min_days %>
      </p>
        <p>
        <strong>Max days:</strong>
        <%= @feature.max_days %>
      </p>
  
      <%= link_to 'Back', features_path, class: 'btn btn-primary' %>
      <%= link_to 'Edit', edit_feature_path(@feature), class: 'btn btn-primary' %>
    </div>
  </section>
<% end %>